body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
}

#close-button, #info-button{
	position: absolute;
	top:5px;
	right: 5px;
	background-color: #000;
	width: 20px;
	height: 20px;z
	border-radius: 50%;
	padding: 0.5%;
	text-align: center;
	line-height: 20px;
	font-size: 20px;
	transition: 0.5s;
	z-index: 1000000;
}

#legend-pane {
	position: absolute;
	height: 250px;
	width: 200px;
	top:20px;
	right: 20px;
	z-index: 11;
	background-color: #e6e6e6;
	border-radius: 10px;
	padding: 10px 40px 40px 40px;
	overflow-x: hidden;
	overflow-y: hidden;
	transition: 0.5s;
}

.knop {
	background-color: #fff;
	position: relative;
	display: inline-block;
	right: 10px;
	top: 10px;
	cursor: pointer;
	height: 20px;
	width: 200px;
	padding: 20px;
	margin: 10px;
	text-align: center;
	line-height: 40%;
	font-size: 14;
	font-weight: bold;
	border-radius: 5px;
}

.hidden-button {
		display: none;
	}
.hidden-legend {
		height: 0px !important ;
		width: 0px !important;
		padding: 0px !important;
	}
.hidden-button2 {
		display: none;
	}